<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>StampTimes</title>
</head>

<body>
<div class="container">
    <p th:text="${employeeOverview.uuid()}"></p>
    <div class="d-flex justify-content-between">
        <h2 th:text="${employeeOverview.name()}"></h2>
        <a th:href="@{/add-stamptime-employee/{id}(id=${employeeOverview.uuid()})}">
            <button class="btn btn-success">
                Add StampTime
            </button>
        </a>
    </div>
    <div th:each="work : ${employeeOverview.workdayList()}" class="card p-4 m-3">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <h3 th:text="${work.date()}"
                    th:classappend="${dateUtils.isFuture(work.date())} ? 'text-danger' : ''"></h3>
                <div>
                    <span th:if="${dateUtils.isFuture(work.date())}" class="badge text-bg-danger">future</span>
                    <span th:if="${work.isWorking()}" class="badge text-bg-danger">logged in</span>
                    <a class="ml-auto p-2"
                       th:href="@{/add-stamptime-employee/{id}/{date}(date=${work.date()}, id=${employeeOverview.uuid()})}">
                        <button class="btn btn-success btn-sm">
                            +
                        </button>
                    </a>
                </div>
            </div>

            <h5 th:text="${work.date().dayOfWeek.name()}"></h5>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>work time total:</td>
<!--                     <td th:text="${work.worktimeTotal()}"></td> -->
                    <td th:text="${dateUtils.convertDurationToString(work.worktimeTotal())}"></td>
                </tr>
                <tr>
                    <td>break time:</td>
                    <td th:text="${dateUtils.convertDurationToString(work.breakTime())}"></td>
                </tr>
                <tr>
                    <td>net work time:</td>
                    <td th:text="${dateUtils.convertDurationToString(work.netWorktime())}"></td>
                </tr>
                <tr>
                    <td>target time:</td>
                    <td th:text="${dateUtils.convertDurationToString(work.targetTime())}"></td>
                </tr>
                <tr>
                    <td>overtime:</td>
                    <td th:text="${dateUtils.convertDurationToString(work.overtime())}"></td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            log data
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table">
                                <tr th:each="time, index : ${work.workdayEntryList()}">
                                    <td th:text="(${index.count %2 != 0} ? 'log in' : 'log out')"></td>
                                    <td th:text="${time.workTime()}"></td>
                                    <td>
                                        <a th:href="@{/edit-stamp-time/{id}(id=${time.uuid()})}">
                                            <button class="btn btn-warning btn-sm">
                                                edit
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
